<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <!-- Your content here -->
</body>
</html>
